<div id="baka-sidebar" class="mdui-drawer mdui-drawer-close">
  <ul class="mdui-list">
    <a href="/login">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">vpn_key</i>
        <div class="mdui-list-item-content">登录</div>
      </li>
    </a>

    <a href="/register">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">person_add</i>
        <div class="mdui-list-item-content">注册</div>
      </li>
    </a>
  </ul>
</div>
